*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UL', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}